scikit-learn>=0.23
pandas
seaborn
matplotlib
joblib
numpy
fastapi
uvicorn[standard]
pydantic
prometheus-client
mlflow
lightgbm
ibm_watson_machine_learning
pyyaml
pytest
pytest-dependency
pre-commit
ruff
httpx
boto3
loguru
python-dotenv
